body {
  background-color:#222222;
}
.main-content {
  background-color: #666666;
}
.current.track-name {
  color: #ffffff !important;
}
.current.artist-name {
  color:#ffffff !important;
}
p {
  color: #dddddd;
}
.track-name {
  font-size: 16px;
  font-family: "montserrat";
  color:#222222;
  line-height:150%;
}
.artist-name {
  font-size: 16px;
  font-family: "lato";
  color:#444444;
  line-height:150%;
}
.album-art {
  width: 48px;
  height: 48px;
}
.track-info.track-name {
  font-size: 20px;
  font-family: "montserrat";
  color:#eeeeee;
}
.track-info.artist-name {
  font-size: 18px;
  font-family: "lato";
  color:#cccccc;
}