.current.track-name {
  font-size: 28px;
  line-height: 125%;
  color:#222222;
}
.current.artist-name {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item {
  text-align: left;
}
.header-cp {
  width:100%;
  height: 50px;
  line-height:100%;
  color: #eeeeee;
  background-color: #0099cc;
  font-size:42px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.close {
  width:32px;
  height:32px;
  margin-left:8px;
  background-image: url("../img/arrow_32.png") !important;
}
.track-info {
  line-height: 125%;
}
.track-info.track-name {
  font-size: 16px;
  font-family: "montserrat";
}
.track-info.artist-name {
  font-size: 16px;
  font-family: "lato";
}
.track-actions {
  float:right;
  margin-left:4px;
  margin-top:8px;
}
.track-action {
  width:56px;
  font-size: 12px;
  font-family: "montserrat", Arial;
  border-width: 0px;
  border-radius: 4px;
  color:#ffffff;
  padding-left:0px;
  padding-right:0px;
  padding-top:6px;
  padding-bottom:6px;
  text-align: center;
}
.track-action:active {
  border-width: 0px;
  border-radius: 4px;
}
.track-action:focus {
  border-width: 0px;
  border-radius: 4px;
  outline: 0;
}
.like {
  background-color:#5cb85c;
}
.like:active {
  background-color:#449D44;
}
.skip {
  background-color:#d9534f;
}
.skip:active {
  background-color:#C34B47;
}
