body {
  background-color:#222222;
}
.main-content {
  background-color: #666666;
}
.track-name {
  color: #eeeeee !important;
}
.text-muted {
  color: #30D4F2 !important;
  font-size:42px;
  font-family: 'Damion', cursive;
}
.artist-name {
  color:#eeeeee;
}
p {
  color: #dddddd;
}